---
---

<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
   
    <a href="/"> На главную</a>
	<a href="/about/"> Обо мне</a>
    <a href="/blog/"> Блог</a>
    <h1>Обо мне </h1>
    <h2>Йонке Остапу и моем новом сайте на Astro</h2>
    <p>Я прохожу вводный учебник по Astro. Это вторая страница моего сайта, и это первая страница, которую я создал самостоятельно!</p> 
    <p>Сайт будет обновляться по мере прохождения учебника, так что заходите сюда снова и следите за моим прогрессом!</p>
</body>
  </body>
</html>