---
const pageTitle = "Мой блог";
import BaseLayout from '../layouts/BaseLayout.astro';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Мой потрясающий подзаголовок блога</h2>
    <p> Здраствуйте дорогие читатели! Тут будет мой первый блог написаный на сайте с помощью Astro</p>
    <ul>
      <li><a href="/posts/post-1/">Пост номер 1</a></li>
      <li><a href="/posts/post-2/">Пост номер 2</a></li>
      <li><a href="/posts/post-3/">Пост номер 3</a></li>
    </ul>
</BaseLayout>
     