---
const pageTitle = "Мой блог";
import BaseLayout from '../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
 

---
<BaseLayout pageTitle={pageTitle}>
  <h2>Мой потрясающий подзаголовок блога</h2>
    <p> Здраствуйте дорогие читатели! Тут будет мой первый блог написаный на сайте с помощью Astro</p>
    <ul>
       {allPosts.map((post) => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
</BaseLayout>
     