<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Astro</title>
  </head>
  <body>
       
	<a href="/"> На главную</a>
	<a href="/about/"> Обо мне</a>
    <a href="/blog/"> Блог</a>
    <h1>Мой блог</h1>
    <p> Здраствуйте дорогие читатели! Тут будет мой первый блог написаный на сайте с помощью Astro</p>
  </body>
</html>